@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark text-white font-sans;
  }
}

@layer components {
  .btn-primary {
    @apply bg-brand-primary hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1;
  }
  .card {
    @apply bg-gray-800 rounded-xl overflow-hidden shadow-lg hover:shadow-2xl transition duration-300 border border-gray-700 hover:border-brand-primary;
  }
}
